{% extends "placement/header.html" %}
{% load static %}

{% block content %}
      <section id="hero">
        <div class="hero-container" data-aos="fade-in">
          <img src='/static/placement/index_cover.jpg' size='50%' alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
          <h1>Welcome to Placements @ IIIT Allahabad</h1>
          <h2>Official website for internships & placements in IIITA</h2>
          <h2> In a short span of 22 years IIIT Allahabad has established itself as one of the most sought after destination for aspiring technologists all over India. </h2>
          
          <a href="#get-started" class="btn-get-started scrollto">Get Started</a>
          <div class="btns">
            <a href="#"><i class="fa fa-apple fa-3x"></i> App Store</a>
            <a href="#"><i class="fa fa-play fa-3x"></i> Google Play</a>
            <a href="#"><i class="fa fa-windows fa-3x"></i> windows</a>
          </div>
        </div>
      </section>
      <!-- <div class=" p-5 rounded-lg m-3">
        <h1 class="display-4">Welcome To IIITA Placement Portal</h1>
        <p class="lead">	In a short span of 22 years IIIT Allahabad has established itself as one of the most sought after destination for aspiring technologists all over India. </p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
      <img class="center-fit landing-image" src='/static/placement/index_cover.jpg'>
      <img class="center-fit landing-image" src='/static/placement/iiita_companies.jpg'> -->

      
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{%static 'placement/vendor/aos/aos.js'%}"></script>
  <script src="{%static 'placement/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{%static 'placement/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{%static 'placement/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src= "{%static 'placement/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <link rel="javascript" type="js" src="{% static 'placement/js/main.js' %}"></link>
{% endblock %}