{% extends "placement/header.html" %}

{% block content %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #FFFFFF;
  text-align: left;
  padding: 8px;
}
#titles {
  font-size: 20px;
  text-align: center;
  color: #2E4C6D;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<p>&nbsp;</p>
<h2>Offers</h2>
<article class="media content-section">
    <div class="container info-boxes pt100 pb100">
        <table>
        <tr>
            <th id = "titles">First Name</th>
            <th id = "titles">Last Name</th>
            <th id = "titles">Placed At</th>
        </tr>
    {% for offer in offers %}
           {% if offer.placed_in != 'NA' and offer.placed_in != 'na'  %}
            <tr>
                <th>{{offer.first_name}}</th>
                <th>{{offer.last_name}}</th>
                <th>{{offer.placed_in}}</th>
            </tr>
            {%endif%}
    {% endfor %}
    </div>
</article>
{% endblock %}